---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<BaseLayout pageTitle={pageTitle}>
			<h1>我的 Astro 学习博客</h1>
			<p>我将在这里发布我学习Astro的旅程.</p>
			<ul>
				{
					// 所以文章文件是从哪里来的呢？  没错上面定义了一个变量allPosts， 用来获取所有的
					// 文章的文件
					allPosts.map((post) => (
					<BlogPost url={post.url} title={post.frontmatter.title}/>
					))
				}
			</ul>
		</BaseLayout>
	</body>
</html>
